<% assignedkeywords = development.assignedkeywords %>



<%= form_with(model: development, local: true, id: 'development') do |form| %>
  <% if development.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(development.errors.count, "error") %> prohibited this development from being saved:</h2>

      <ul>
        <% development.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, :style => "width: 600px; height: 40px", :class => "large_text" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.rich_text_area :description, :style => "width: 800px; height: 200px",:class => "large_text" %>
  </div>

  Significance

  <table width="600px" class="large_text" border1="1">
    <col width="50%">
    <col width="50%">
    <tr>
      <td>
        In sector <%= form.select :significance_in_sector, [["0 - None","0"],["1 - Negligible","1"], ["2 - Moderate","2"], ["3 - Substantial","3"], ["4 - Immense","4"], ["5 - Overwhelming","5"]], {:class => "small_button", :onchange => "set_absent(this.value);"}, :class => "large_text" %>
      </td>
      <td>
        In general <%= form.select :significance_general, [["0 - None","0"],["1 - Negligible","1"], ["2 - Moderate","2"], ["3 - Substantial","3"], ["4 - Immense","4"], ["5 - Overwhelming","5"]], {:class => "small_button", :onchange => "set_absent(this.value);"}, :class => "large_text"  %>
      </td>
    </tr>

  </table>



<% end %>

Keywords


<table width="600px" class="large_text">
  <col width="50%">
  <col width="50%">
  <tr> <td>Assigned</td><td>Other</td></tr>
  <tr>
    <td>
      <%= form_tag development_remove_keyword_path(development), method: "post", id: 'remove_keywords'  do %>
        <% assignedkeywords.order(:name).each do | keyword | %>
        <span style="white-space: nowrap;">
          <%= check_box_tag 'check' + keyword.id.to_s %>
          <%= keyword.name %>
        </span>
        <% end %>
      <% end %>
    </td>

    <td>
      <%= form_tag development_add_keyword_path(development), method: "post", id: 'add_keywords' do %>
        <% Keyword.all.order(:name).each do | keyword | %>
        <% if development.assignedkeywords.where(:name => keyword.name).count == 0 %>
          <span style="white-space: nowrap;">
            <%=check_box_tag 'check' + keyword.id.to_s %>
            <%= keyword.name %>
          </span>
          <% end %>
        <% end %>
      <% end %>
      </td>
  </tr>

  <tr>
    <td>
      <input type="submit" value="Remove keyword" form='remove_keywords' class="small_button">
    </td>
    <td>
      <input type="submit" value="Add  keyword" form='add_keywords' class="small_button">
    </td>
  </tr>


</table>



<table width="850px" class="large_text" border1="1">
  <col width="10%">
  <col width="18%">
  <col width="18%">
  <col width="44%">
  <col width="10%">
  <col width="10%">
  <tr>
    <td>Type</td><td>Start date</td><td>End date</td><td>Name</td><td></td>
  </tr>
  Events
  <% development.events.each do |event| %>
    <tr>
      <td><%= event.policy_action_string %></td><td><%= event.start_date.to_s(:short) %></td><td><%= event.end_date.to_s(:short) %></td><td><%= event.name %></td>
      <td><%= button_to "Edit", edit_event_path(event), :method => "get",  :class=>"small_button" %></td>
      <td><%= button_to "Delete", delete_event_path(event), :method => "delete",  :class=>"small_button", data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
  <tr>
    <td></td><td>
      <%= button_to "Add new event", new_event_path(development), :method => "get",  :class=>"small_button" %>
    </td><td></td><td></td>


  </tr>

</table>



<div class="actions">
  <%= submit_tag "Update", :class=>"small_button", :form => 'development'  %>
</div>
