<p id="notice"><%= notice %></p>

<h1>Developments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Keywords</th>
      <th>Significance in sector</th>
      <th>Significance general</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @developments.each do |development| %>
      <tr>
        <td><%= development.name %></td>
        <td><%= development.description %></td>
        <td><%= development.keywords %></td>
        <td><%= development.significance_in_sector %></td>
        <td><%= development.significance_general %></td>
        <td><%= link_to 'Show', development %></td>
        <td><%= link_to 'Edit', edit_development_path(development) %></td>
        <td><%= link_to 'Destroy', development, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Development', new_development_path %>
