<!DOCTYPE html>
<html>
  <head>
    <title>Crystal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <table width="100%">
    <col width="20%">
    <col width="60%">
    <col width="20%">
    <tr>
      <td>
        <%= image_tag "crystalball.png" %>
      </td>
      <td style="text-align:center; font-size: 30px; font-weight: bold">
        Legal and regulatory horizon scanning
      </td>
      <td>
        <%= link_to "Home", root_path %></br>
        <% if logged_in_user.present? %>
          Logged in as: <%= logged_in_user.name %></br>
          <%= logged_in_user.status %></br>
          <%= button_to "Log out", log_out_path, :method => :post, :class => "small_button" %>
        <% end %>
        <%= button_to "Reset cookie consent", reset_cookie_consent_path, :method => :post, :class=> "small_button" %>

      </td>
    </tr>


  </table>

  </br></br>


  <body>
    <%= yield %>
  </body>
</html>
